.admonition {
    padding: 20px;
    border-radius: 4px;
    margin: 25px 0;
    position: relative;
    border: 1px solid #C9F0DD;
}
.admonition-note {
    background: #F1FFF7;
    border: 1px solid #C9F0DD;
}
.admonition-tip {
    background: #F1FFF7;
    border: 1px solid #C9F0DD;
}
.admonition-info {
    background: #F1FFF7;
    border: 1px solid #C9F0DD;
}
.admonition-warning {
    background-color: #FFFDF1;
    border-color: #F5F1C7;
}
