.admonition {
    margin: 15px 0;
    background: #fff;
    padding: 10px 15px 0;
}

.admonition:before {
    margin: -10px -15px 10px;
    padding: 10px 15px;
    line-height: 1;
    background: #ccc;
    display: block;
    content: "";
    font-weight: 700;
    font-size: 13px;
}

.admonition.admonition-warning {
    border: 1px solid #E0AA8F;
}

.admonition.admonition-warning:before {
    content: "\f06a  Warning";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.3em;
    color: white;
    background: #E0AA8F;
}

.admonition.admonition-note {
    border: 1px solid #8FC4E0;
}

.admonition.admonition-note:before {
    content: "\f05a  Note";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.3em;
    color: white;
    background: #8FC4E0;
}

.admonition.admonition-info {
    border: 1px solid #E0C18F;
}

.admonition.admonition-info:before {
    content: "\f05a  Info";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.3em;
    color: white;
    background: #E0C18F;
}

.admonition.admonition-tip {
    border: 1px solid #9EB675;
}

.admonition.admonition-tip:before {
    content: "\f05a  Tip";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.3em;
    color: white;
    background: #9EB675;
}


